* {
    font-family: Verdana, Arial, Tahoma, Serif;
}

body {
	background-color: #141414;
}

#container {
	margin: 10px;
}

header {
	display: flex;
	margin: auto;
	width: 675px;
	height: 125px;
}

main {
	display: flex;
	margin: auto;
	width: 675px;
}

#title {
	display: flex;
	flex-direction: column;
	width: 108px;
	height: 140px;
	background-color: white;
	padding: 0 0 10px 5px;
}

#title h2 {
	font-size: 21px;
	margin-top: -3px;
}

#title p {
	font-size: 13px;
	margin-top: -13px;
    text-align: center;
    animation-name: splashmove;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes splashmove {
    0% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}

#navbar {
	display: flex;
	background-color: #2b2b2b;
	width: 113px;
	height: 1000px;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	text-align: center;
	display: block;
	padding: 31px;
	text-decoration: none;
	color: #5e5e5e;
}

li a:hover {
	background-color: #5e5e5e;
	color: #141414;
}

#mainpage {
	background-color: white;
	width: 507px;
}

#content {

}

article {
    border: 1px solid black;
    margin: 15px 5px 0px 25px;
    padding: 0px 2px;
    overflow: hidden;
}

article h2 {
    text-align: center;
}

article p {
    padding: 0 0 0 10px;
}
